# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/

.project
.cproject
.settings/

*.result
*.log
*.data
*.output

.vscode/
.cache/
build/
.clangd/
redis/sample
compile_commands.json

ycsbc

CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Testing/

CTestTestfile.cmake
Makefile
